%flex-layout {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    @extend %flex-layout;
    box-shadow: $base-box-shadow;
    padding: $base-padding $base-padding * 2;

    .title {
        font-size: $font-size-lg;
        margin: 0;
    }

    .container {
        @extend %flex-layout;
    }
}

@each $color, $val in $colors {
    .navbar-#{$color} {
        @extend .navbar;
        background-color: $val;
    }
}