/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:not(i) {
    font-family: 'Gabarito', sans-serif;
}

/* Event Delegation Fix */
button > * {
    pointer-events: none;
}

a {
    text-decoration: none;
    color: inherit;
}

hr {
    opacity: .3;
}

img {
    width: 100%;
}

nav li {
    list-style-type: none;
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }

    a, button {
        transition: $base-transition-duration;
    }
}