@use 'variables' as *;

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:not(i) {
    font-family: 'Gabarito', sans-serif;
}

a, button {
    transition: $base-transition-duration or 0s;
}

/* Event Delegation Fix */
button > * {
    pointer-events: none;
}

a {
    text-decoration: none;
    color: inherit;
}

hr {
    opacity: .3;
}